.Shop-Name{
    margin-top:7px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    letter-spacing: 5.8px;
    word-spacing: 5.6px;
    color: #0C0C02;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
}
.shopping-bag{
   float:right
}
// @media (min-width: 576px){
//     .jumbotron {
//         padding: 1rem 2rem;
//     }


// .jumbotron {
//     padding: -3rem 1rem;
//     margin-bottom: 2rem;
//     background-color: white;
//     border-radius: 0.3rem;
// }
// }
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
   
  }

  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    
      .jumbotron {
                padding: 1rem 2rem;
            }
        
        
        .jumbotron {
            padding: -3rem 1rem;
            margin-bottom: 2rem;
            background-color: white;
            border-radius: 0.3rem;
        }

  }

