<div class="jumbotron jumbotron fixed-top">
  <div class="container">
    <div class="row">
      <div class="searchbar col-6">
        <app-search></app-search>
      </div>

      <div class=" col-6 ">
        <div class="shopping-bag">
   
                <i class="fas fa-shopping-bag">
                    <p>My bag</p>
                </i>
        </div>
        <h2 class="Shop-Name">Z-Online</h2>
      </div>

      <div class="filter-clothes-by">
        <app-filter-by></app-filter-by>
      </div>
    </div>

  </div>
</div>
