.Shop-Name{
    margin-top:20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    letter-spacing: 5.8px;
    word-spacing: 5.6px;
    color: #0C0C02;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
}
.shopping-bag{
   float:right
}