<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" ><h2>Vodoo</h2></a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"  > 
          <a   routerLink= "/home" class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="home"></mdb-icon> Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
                <a  routerLink = "/about" class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="info-circle"></mdb-icon> About Us</a>
              </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><mdb-icon fas icon="cog"></mdb-icon> Request Order</a>
        </li>
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <mdb-icon fas icon="tshirt"></mdb-icon> Our Products<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">T-Shirts</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Sweaters</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Hoodies</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Crop Tops</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->