<div class="container about">
  <!-- Out vision -->
  <div class="row vision ">
    <div class="col-sm ">
      <!-- Card -->
      <mdb-card>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>

          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col-sm">
      &nbsp;
    </div>
    <div class="col-sm">
      &nbsp;
    </div>
  </div>

  <!-- Our mission -->
  <div class="row mission">
    <div class="col-sm ">
      &nbsp;
    </div>
    <div class="col-sm">
      &nbsp;
    </div>
    <div class="col-sm">
    <!-- Card -->
    <mdb-card>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Card Title</h4>
              </mdb-card-title>
    
              <!--Text-->
              <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                content.
              </mdb-card-text>
    
              <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
            </mdb-card-body>
          </mdb-card>
          <!-- Card -->
    </div>
  </div>

  <!-- Our Goal -->
  <div class="row goal">
    <div class="col-sm">
  <!-- Card -->
  <mdb-card>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>Card Title</h4>
          </mdb-card-title>

          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>

          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->
    </div>
    <div class="col-sm">
      &nbsp;
    </div>
    <div class="col-sm">
      &nbsp;
    </div>
  </div>
</div>
